{
    "name": "{{{ name }}}",
    "version": "{{{ version }}}",
    "archive": "{{{ name }}}.tgz",
    "author": {
        "name": "{{{ author }}}",
        "link": "{{{ authorLink }}}"
    },
    "aliases": ["draft", "draftjs"],
    "specific_versions": []
}
